.main-chat
  .main-chat__header
    .top-items__left-box
      .top-items__left-box__group
        = @group.name
        .top-items__left-box__member-list
          Member:
          - @group.users.each do |user|
            = user.name



    = link_to edit_group_path(@group.id), class:"top-items__edit-btn" do
      Edit


  .main-chat_messages
    .main-chat_message
      = render partial: 'message', collection: @messages

  .message-form
    = form_for [@group, @message] do |f|
      .form-box
        = f.text_field :content, class: 'form-box__text', placeholder: 'type a message' 
        = f.label :image, class: 'form-box__image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'form-box__image--file'
      = f.submit 'Send', class: 'submit-btn'