.side-bar
  .side-bar__header
    .side-top_items
      %p.side-top_items__name
        = current_user.name
      %ul.side-top_items__icon
        = link_to new_group_path, class:"side-top_items__edit" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user), class:"side-top_items__cog" do
          = icon('fas', 'cog', class: 'icon')

  .side-bar__group-list
    - current_user.groups.each do |group|
      = link_to messages_path(group), class:"side-items" do
        %p.side-items__group
          = group.name
        %p.side-items__message
          メッセージはまだありません。